* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cera CY';
    src: url('../fonts/Cera-Regular-Web.woff') format('woff'),
         url('../fonts/Cera-Regular-Web.woff2') format('woff2'),
         url('../fonts/Cera-Regular-Web.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera CY';
    src: url('../fonts/Cera-Bold-Web.woff') format('woff'),
         url('../fonts/Cera-Bold-Web.woff2') format('woff2'),
         url('../fonts/Cera-Bold-Web.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cera CY', sans-serif;
}
