button {
    outline: none;

    &:hover,
    &:focus {
        outline: none;
    }
}

.button {
    display: inline-block;
    color: $white;
    font-size: inherit;
    padding: .75rem 1.5rem;
    border: none;
    transition: all .25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.38rem;
    font-size: 1.13rem;
    background: $blue;
    font-weight: 700;
    &.type-2 {
        background: $white;
        color: $blue;
    }
}