input, textarea {
    -webkit-appearance: none;
    padding: .85rem 1.3rem .85rem 1.3rem;
    color: $black;
    border: none;
    font-size: inherit;
    font-family: 'GTWalsheimPro', sans-serif;
    background-color: $black;
    border-radius: 4px;
    color: $black;
    max-width: 100%;
    &::placeholder {
      color: $black;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    margin: 0 auto 1em auto;
    padding: .5em;
    padding-right: 1.5em;
    width: auto;
    min-width: 200px;
    outline: none;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 400;
    text-indent: 0.01px;
    text-overflow: '';
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 2px;
    color: rgba(0,0,0,.7);
    background-color: rgba(255,255,255,.5);
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) 50%;
    background-size: 12px;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0,0,0,.15) 0 1px 0;
  }
  select::-ms-expand {
    display: none;
  }
  select:focus {
    border-color: orange;
    box-shadow: #fc0 0 0 3px;
  }

select {
    color: rgba(255,255,255,.7);
    border-color: rgba(0,0,0,.7);
    background-color: rgba(0,0,0,.5);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0id2hpdGUiIG9wYWNpdHk9Ii43IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');/* light arrow */
  }
  
select:active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0id2hpdGUiIG9wYWNpdHk9Ii41IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');
}